<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bible Study Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bible Study Guide", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="True" href="#" data-toggle="dropdown">
                                Authors <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("John", "ListsViews", "Home", new { AuthorName = "John", chapterNumber = 0 }, null)</li>
                                <li>@Html.ActionLink("Luke", "ListsViews", "Home", new { AuthorName = "Luke", chapterNumber = 0 }, null)</li>
                                <li>@Html.ActionLink("Mark", "ListsViews", "Home", new { AuthorName = "Mark", chapterNumber = 0 }, null)</li>
                                <li>@Html.ActionLink("Matthew", "ListsViews", "Home", new { AuthorName = "Matthew", chapterNumber = 0 }, null)</li>
                            </ul>
                        </li>
                    <li>@Html.ActionLink("My Study", "MyStudy", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    footer {
        margin-bottom: 0%;
    }
</style>