@model IEnumerable<BibleStudyGuide.Models.Category>

@{
    ViewBag.Title = "Verses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Studies already done</h2>
@if (User.Identity.IsAuthenticated)
{
    @*<h4 class="btn btn-info" style="color:red;"></h4>*@

    <ul class="breadcrumb" style="width:20%">
        <li>@Html.ActionLink("Messages >>", "MyMessages")</li>
        <h6>Only when authenticated!</h6>
        @*<li class="active">Library</li>*@
    </ul>



    
}
<br />
<br />








<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th style="text-align:center; width:5%;">
                Author Name
            </th>
            <th style="text-align:center; width:5%;">
                Book Name
            </th>
            <th style="text-align:center; width:5%;">
                Chapter Number
            </th>
            <th style="text-align:center; width:5%;">
                Verse Number
            </th>
            <th style="width:auto;">
                Verse Content
            </th>
            <th style="width:5%; text-align:center;">
                Category
            </th>
            <th style="width:5%; text-align:center;">
                Date
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th style="width:10%; text-align:center;">Actions</th>
            }
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ChapterNumber)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.VerseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerseContent)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Category1)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td style="width:10%; text-align:center;">
                    @Html.ActionLink("Edit", "ListsViews", new { AuthorName = item.AuthorName, chapterNumber = item.ChapterNumber })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            }
        </tr>
    }
</table>

















